/* Ajout de transitions pour les éléments de texte */
h1, h2, p {
    transition: color 0.3s, transform 0.3s;
}

/* Effet de survol sur les titres h1 et h2 */
h1:hover, h2:hover {
    transform: scale(1.05);
    color: #cc900d;
}

/* Ajout d'un léger ombrage pour les paragraphes */
p {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* Styles supplémentaires pour le footer */
footer {
    background-color: #222; /* Pour donner un effet plus profond */
    padding: 2rem;
    border-top: 1px solid #444;
}

footer nav ul li a {
    padding: 8px 12px; /* Augmente le padding pour les liens */
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer nav ul li a:hover {
    background-color: #444;
    color: #cc900d;
}

/* Apparence des boutons avec ombre et animation */
.button {
    background-color: #cc900d;
    padding: 12px 24px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #e08e18;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Animation sur les éléments visibles */
.encadre {
    background: linear-gradient(to right, #f9f9f9, #e6e6e6);
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.032);
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s, transform 1.5s;
}

/* Animation pour l'apparition de sections */
.encadre.visible {
    opacity: 1;
    transform: translateY(0);
}

.encadre h2 {
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;
}

.encadre h2::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

/* Animations des images */
.image-centree {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.image-centree:hover {
    transform: scale(1.05); /* Ajoute un léger zoom au survol */
}

/* Optimisation des images dans le texte */
.image-hors-block {
    display: block;
    margin: 2rem auto;
    max-width: 80%;
    height: auto;
    transition: transform 0.5s ease;
}

.image-hors-block:hover {
    transform: scale(1.05); /* Légère animation au survol */
}

/* Style des zones de texte en bas de la page */
.zone-de-texte {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-top: 2px solid #555;
    position: relative;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.zone-de-texte p {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Amélioration de l'apparence du bouton-container */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.button {
    padding: 1rem 2rem;
    background-color: #cc900d;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: inline-block;
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.button:hover {
    background-color: #777;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
